/* Add this to your CSS file or use a CSS-in-JS solution like styled components */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; /* light gray background */
  }
  *{
    overflow-x: hidden;
  }
  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff; /* white background */
    border: 1px solid #ddd; /* light gray border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
  }
  .Header{
    background-color: #ceca03;
    width: 100vw;
    height: auto;
    position: relative;
  }
  h1 {
    color: #07090a; /* light blue */
    margin-top: 0;
    /* background-color: #ceca03; */
    height: 10vh;
    text-align: center;
  }
  
  input[type="text"] {
    width: 50vw;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc; /* light gray border */
    border-radius: 2px;
    margin-left: 25vw;
    text-align: center;
  }
  
  .myButton {
    background-color:#ceca03; /* light blue */
    color: #110d0d; /* white text */
    padding: 10px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin: 20px;
  }

  .buttonHolder{
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .myButton:hover{
    background-color: #0c0202;
    color: #928927;
    transition-duration: 1s;
      }
  
  button[type="button"]:hover {
    background-color: #928927; 
  }
  
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* light gray border */
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  b {
    color: #ceca03; /* light blue */
  }
  .Image-Holder{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 100vw;
    height: auto; /* Ensure the div has some height */
  }
  .image{
    margin: 0 auto;
    max-width: 100%; 
    height: auto;
    margin-bottom: 15px;
  }
  .Paragraph-holder{
    width: 70vw;
    margin: 0 auto;
    align-items: center;
    text-align:justify;
    position: relative;
  }
  .My-paragraph{
    width: 100%;
  }
  @media screen and (max-width: 650px) {
    .Paragraph-holder{
      width: 95vw;
      margin: 0 auto;
      align-items: center;
      text-align:justify;
      position: relative;
    }
  } 
  